form {
    width: 50%;
    display: block;
    border: 1px solid;
}

.first-row {
    display: flex;
    flex-direction: row;
    /* margin: auto; */
}

.add-customer-details {
    display: grid;
    width: 50%;
    border: 1px solid;
    text-align: right;
    align-items: right;
    align-content: right;
    margin: auto;
}

.add-customer-details label {
    text-align: right;
    align-items: right;
    align-content: right;
}

.add-customer-data {
    display: grid;
    width: 50%;
    border: 1px solid;
    text-align: left;
    align-items: left;
    align-content: left;
}

.add-customer-data input {
    float: left;
    width: 100%;
}

.add-customer-data select {
    align-items: left;
    width: 100%;
}

.second-row {
    display: flex;
    flex-direction: row;
    /* margin: 0.3rem; */
}

.save-button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cancel-button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}